<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Exercício de Números Inteiros</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Exercício de Números Inteiros</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card *ngIf="currentQuestion">
      <ion-card-header>
        <ion-card-title>{{ currentQuestion.question }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-radio-group>
            <ion-item *ngFor="let option of currentQuestion.options">
              <ion-radio slot="start" [value]="option.id" [(ngModel)]="selectedOption" name="optionRadios">
              </ion-radio>
              <ion-label>{{ option.text }}</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="checkAnswer()">Próxima Pergunta</ion-button>
    <ion-card *ngIf="showResult">
      <ion-card-content>
        <p>Você acertou {{ correctAnswers }} questões!</p>
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>










<!-- 
  
  BACKUP
  
  <div>

    
    <ion-list *ngFor="let question of questions">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ question.question }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group [allowEmptySelection]="true">
              <ion-item *ngFor="let option of question.options">
                <ion-radio slot="start" [value]="option.id" 
                  [(ngModel)]="selectedOption[question.id]">
                </ion-radio>
                <ion-label>{{ option.text }}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-item>
      <ion-button expand="block" (click)="checkAnswer(questions)">Verificar Resposta</ion-button>
        <ion-note *ngIf="showAnswer">
          {{ isAnswerCorrect(questions) ? 'Correta!' : 'Errada!' }}
        </ion-note>
    </ion-item>
    

  </div> -->