<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Exercício de Inteiros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Exercício de Inteiros</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Exercício 1</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-item>
    
          <ion-item>
            <ion-list>
              <ion-radio-group (ionChange)="handleChange($event)">
                <ion-item *ngFor="let answer of answers; trackBy: trackItems">
                  <ion-radio [value]="answer">{{ answer.answer }}</ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-item>
  
    
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
