<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Geometria - Geral</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Geometria - Geral</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Qual é a fórmula para calcular a área de um círculo?</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-list>
          <ion-radio-group>
            <ion-item>
              <ion-radio slot="start"></ion-radio>
              <ion-label>A = pi * r</ion-label>
            </ion-item>

            <ion-item>
              <ion-radio slot="start"></ion-radio>
              <ion-label>A = (1/2) * pi * r^2</ion-label>
            </ion-item>

            <ion-item>
              <ion-radio slot="start"></ion-radio>
              <ion-label>A = 2 * pi * r</ion-label>
            </ion-item>

            <ion-item>
              <ion-radio slot="start"></ion-radio>
              <ion-label>A = pi * r^2 * h</ion-label>
            </ion-item>

            <ion-item>
              <ion-radio slot="start"></ion-radio>
              <ion-label>A = (1/4) * pi * r^3</ion-label>
            </ion-item>

          </ion-radio-group>
        </ion-list>
      </ion-card-content>

    </ion-card>
    <ion-button expand="block" >Próxima Pergunta</ion-button>
    
    
  </div>

</ion-content>